@import 'bulma.min.css';

html {
  background: #2b2b2b;
}

.hidden-div {
  transition: 0.3s;
  opacity: 0;
  visibility: hidden;
  transform: scale(2);
  &.show {
    opacity: 1;
    visibility: visible;
    transform: scale(1);
  }
}
