[package]
name = "telegramr"
version = "0.1.0"
authors = ["pd <pd29@gmail.com>"]

[dependencies]
web-view = "0.2.1"
serde = "1.0"
serde_derive = "1.0"
serde_json = "1.0"
snap = "0.2"
ws = { version = "0.7.9", optional = true }

[profile.release]
lto = true
panic = "abort"

[features]
use-ws = ["ws"]
